@font-face {
    font-family: "glory";
    src: url(/assets/fonts/Glory/Glory-VariableFont_wght.ttf);
}

@font-face {
    font-family: "gluten";
    src: url(/assets/fonts/Gluten/static/Gluten-Regular.ttf);
}

:root {
    --dark-brown: #694106;
    --light-brown: #825108;
    --orange: #FFC710;
}

#preferenceView, #sizeView {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    margin-top: 130px;
}


#chatbubble {
    border-radius: 10px;
    background: var(--orange);
    width: 292px;
    height: 80px;
    border: solid 1px var(--light-brown);
    display: flex;
    justify-content: center;
    align-items: center;
}

#chatText {
    color: var(--dark-brown);
    text-align: center;
    font-family: "glory";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: pre-line;  /* tolkar \n som radbryt */
}

#choicesDiv {
    display: flex;
    flex-direction: column;
    gap: 14px;
   
    align-items: center; 
}
