@font-face {
    font-family: "glory";
    src: url(/assets/fonts/Glory/Glory-VariableFont_wght.ttf);
}

@font-face {
    font-family: "gluten";
    src: url(/assets/fonts/Gluten/static/Gluten-Regular.ttf);
}

#choiceView {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    margin-top: 130px;
}


#chatbubble {
    border-radius: 10px;
    background: #FFC710;
    width: 292px;
    height: 74.893px;
    
    border: solid 1px #825108;
}

#chatText {
    color: #694106;
    text-align: center;
    font-family: "glory";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

#choicesDiv {
    display: flex;
    flex-direction: column;
    gap: 14px;
   
    align-items: center; 
}

#choicesDiv .choiceButtons {
    border-radius: 10px;
    border: 1px solid #825108;
    background: #FFE274;
    box-shadow: 0 2px 4px 0 rgba(130, 81, 8, 0.80);

    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "gluten";
    color: #694106;
}
