* { box-sizing: border-box; }

/* nollställ body-marginal så inget puttar ner ramen */
body { margin: 0; }

#eggtainer {
    height: 844px;
    width: 390px;
    border: solid #825108 2px;
    margin: auto;
    border-radius: 10px;
    background-color: #FAF3E1;

    display: flex;
    flex-direction: column;
}

#app {
    flex: 1;          /* tar allt utrymme ovanför footern */
    overflow: auto;   /* scrolla innehållet om det blir långt */
    min-height: 0;    /* viktigt i flex-containers för korrekt scroll */
}

footer {
    height: 75px;
    background-color: #FFE274;
    border-top: solid 1px rgba(105, 65, 6, 0.45);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#footerImageContainer {
    position: relative;            /* behövs för absolut centrering */
    height: 35px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

#funFactImgF, #middleImgF, #infoImgF {
    width: auto;
    height: 35px;
}

#middleImgF {
    margin-left: 75px;
    margin-right: 75px;
}

button {
    border-radius: 10px;
    border: 1px solid #825108;
    background: #FFE274;
    box-shadow: 0 2px 4px 0 rgba(130, 81, 8, 0.80);

    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "gluten";
    color: #694106;
}

button:hover {
    background-color: #FFF1BC;
}