:root {
    --dark-brown: #694106;
}

#bigTimerViewDiv {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#timerDiv {
    display: flex;
    justify-content: center; 
    margin-top: 139px;
}


.timerBox {
    position: relative;     /* gör att barn med position:absolute utgår härifrån */
    display: inline-block;  /* shrink-wrap runt bildens storlek */
}

#timerImg {
    display: block;         /* ta bort “extra rad” under bilden */
    height: 264.321px;      
    width: auto;
}

#timerDisplay {
    position: absolute;     /* lägg ovanpå bilden */
    inset: 0;               /* fyll hela .timerBox */
    display: grid;          /* för enkel centrering */
    place-items: center;    /* centrera både lodrätt och vågrätt */
    font-size: 42px;        
    font-weight: 800;
    letter-spacing: 1px;
    user-select: none;      /* gör så texten inte markeras vid klick */

    font-family: "gluten";
    color: var(--dark-brown);
}


h1 {
    color: var(--dark-brown);
    text-align: center;
    font-family: Glory;
    font-weight: 400;
    font-size: 28px;
    line-height: normal;
    margin-bottom: 0;
}

h1#infoHeadLine #minutes {
    font-weight: 800;
}

#infoP {
    color: rgba(105, 65, 6, 0.69);
    text-align: center;
    font-family: Glory;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 32px;
}


#factsDiv {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}


#factsHeadLine {
    font-weight: 600;
    margin: 0;
}

#factP {
    color: var(--dark-brown);
    text-align: center;
    font-family: Glory;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    width: 240px;
}

